<nav class="navbar navbar-expand-lg navbar-light bg-light  shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../assets/img/namePage.jpg" height="56" width="56" class="rounded-circle" >
      Let's Library
    </a>
    <button class="navbar-toggler" (click)="isCollapsed = !isCollapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [collapse]=isCollapsed>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/books" tabindex="-1">Livros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/user" tabindex="-1">Usuários</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" tabindex="-1">Login</a>
        </li>
      </ul>
      <app-search></app-search>
    </div>
  </div>
</nav>