<div>
    <div class="container-fluid py-5">
      <div class="row mt-1">
          <div class="col text-center">
              <h1 class="tagline">Bem-vindo à Let's Library!</h1>
              <img src="../assets/img/homeBookShelf.jpg" class="img-fluid" >
          </div>
      </div>
    </div>
  
    <div class="container-fluid py-5">
      <figure class="text-center">
        <blockquote class="blockquote">
          <p>“A leitura é, provavelmente, uma outra maneira de estar em um lugar.”</p>
        </blockquote>
        <figcaption class="blockquote-footer">
          José Saramago
        </figcaption>
      </figure>
    </div>
    <div class="container-fluid py-5">
      <figure class="text-center">
        <blockquote class="blockquote">
          <p>“Não se adquire um bom vocabulário com a leitura de livros escritos conforme uma ideia do que seja o vocabulário da faixa etária do leitor. Ele vem da leitura de livros acima da sua capacidade.”</p>
        </blockquote>
        <figcaption class="blockquote-footer">
          J.R.R. Tolkien
        </figcaption>
      </figure>
    </div>
    <div class="container-fluid py-5">
      <figure class="text-center">
        <blockquote class="blockquote">
          <p>“A leitura é uma fonte inesgotável de prazer mas por incrível que pareça, a quase totalidade, não sente esta sede.”</p>
        </blockquote>
        <figcaption class="blockquote-footer">
          Carlos Drummond de Andrade
        </figcaption>
      </figure>
    </div>
  </div>