

<!-- As a heading -->
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Let´s Code Library</span>
  </div>
</nav>

<div class="container">
  <div class="card text-center mt-5">
    <div class="card-header">
      Você gosta de ler ???
    </div>
    <div class="card-body">
      <h5 class="card-title">Vamos compartilhar!!!</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>
</div>


<router-outlet></router-outlet>