
<app-header></app-header>
<div class="container">
  <router-outlet></router-outlet>
</div>
<!-- <app-home-page></app-home-page> -->
<!-- <app-form-user></app-form-user> -->
<!-- <app-user></app-user> -->
<!-- <app-books></app-books> -->
<!-- <app-page-not-found></app-page-not-found> -->
<div class="container page-content">
  <hr>
  <footer>
      <div class="row text-center">
          <div class="col-lg-12">
              <p>Copyright &copy; Lets Library 2021</p>
          </div>
      </div>
  </footer>
</div>
