<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="login-form bg-light mt-4 p-4">
                <div class="row g-3">
                    <h4 class="text-center">Let's Library</h4>
                    <div class="col-12">
                        <label>Usuário</label>
                        <input type="text" name="username" class="form-control" placeholder="email" #userName>
                    </div>
                    <div class="col-12">
                        <label>Senha</label>
                        <input type="password" name="password" class="form-control" placeholder="senha" #userPassword (keydown.enter)="login(userName, userPassword)">
                    </div>
                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="rememberMe">
                            <label class="form-check-label" for="rememberMe">Lembrar-me</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <button (click)="login(userName, userPassword)" class="btn btn-dark float-end">Logar</button>
                    </div>
                </div>
                <hr class="mt-4">
                <div class="col-12">
                    <p class="text-center mb-0">Não possui uma conta?<a routerLink="/user"> Cadastre-se</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
